@CHARSET "UTF-8";

body {
	font-family: 'Merriweather', serif;
	margin: auto;
    width: 50%;
    padding: 10px;
}

h1 {
	text-align: center;
}
#presName {
	
}

#container{
	margin: auto;
    width: 80%;
    padding: 10px;
}

#photo > img {
 	position: relative;
	width: 200px;
	height: 250px; 
	margin: auto;
    padding: 10px; 
}

#photo{	
	
}

#info {
	position: relative;
	left: 200px;
	bottom: 315px;
	padding: 10px;
}

#prevNext {
	padding: 5px;
	margin: 0 auto; 
} 
